@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    /*PALETA DE COLORES 1 Y 2 :3*/
    --c1: #FFC7C7;
    --c2: #FFE2E2;
    --c3: #F6F6F6;
    --c4: #8785A2;

    --c5: #e23e57;
    --c6: #88304e;
    --c7: #522546;
    --c8: #311d3f;

    --c9: #f0ece5;

    font-family: 'Work Sans';
    color: var(--c9);
    zoom: 0.95;

    --sidegrad: linear-gradient(120deg, var(--c7) 0%, var(--c8) 100%);
    --downgrad: linear-gradient(0deg, var(--c8) 0%, var(--c7) 100%);
    --buttgrad: linear-gradient(120deg, var(--c5) 0%, var(--c6) 100%);
    --defaultshadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --softshadow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    margin: 40px;
    margin-top: 100px;
    background-color: var(--c8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: var(--sidegrad);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-color: var(--c9);
    border-bottom-width: 2px;
    box-shadow: var(--defaultshadow);
}

.innerbody {
    flex: 0 0 auto;
    flex-shrink: 0;

    text-align: center;

    background: var(--downgrad);
    border-radius: 10px;
    border-color: var(--c2);
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    box-shadow: var(--defaultshadow);
}

.rowth {
    z-index: 1;
    will-change: transform;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    overflow-x: auto;
    max-width: 1000px;
}

.rowth .innerbody {
    margin: 10px;
    height: 700px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

sub,
p {
    font-size: 16px;
    margin: 2px;
    color: var(--c9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
    padding: 10px;
}

form {
    margin: 3px;
}

input,
select {
    color: var(--c9);
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom-color: var(--c1);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    padding: 8px;
    margin: 5px;
}

input::placeholder {
    color: var(--c9);
}

option {
    background-color: var(--c5);
    margin: 5px;
    border-style: none;
}

.zoom-cont {
    z-index: 3;
    left: 10px;
    bottom: 10px;
    position: fixed;
    background: var(--sidegrad);
    border-radius: 8px;
    padding: 10px;
    width: auto;
    height: 40px;
    box-shadow: var(--defaultshadow);
}

.topbt {
    z-index: 3;
    left: -10px;
    bottom: 65px;
    position: fixed;
    background: var(--sidegrad);
    border-radius: 8px;
    width: 222px;
    height: 30px;
    box-shadow: var(--defaultshadow);

    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topbt i {
    margin-right: 10px;
}

.zoom-cont button {
    margin: 0;
}

img {
    width: 400px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    border-color: var(--c9);
    border-style: solid;
    border-width: 3px;
    box-shadow: var(--softshadow);
}

a,
button {
    margin: 20px;
    text-decoration: none;
    padding: 12px;
    background: var(--c5);
    color: #fff;
    border-style: none;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    font-size: 16px;
    box-shadow: var(--softshadow);
}

a:hover,
button:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

input[readonly] {
    border-style: none;
    border-radius: 5px;
    background-color: var(--c8);
    text-align: center;
}

input[type='submit']:hover {
    cursor: pointer;
}

span {
    color: var(--c9);
    font-size: 20px;
}

/*CÓDIGO PARA LA SCROLLBAR :)) src: https: //www.cssportal.com/css-scrollbar-generator/*/
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background: linear-gradient(0deg,
            rgba(32, 18, 42, 1) 0%,
            rgba(0, 0, 0, 1) 100%);
}

*::-webkit-scrollbar-track:hover {
    background-color: #3c415c;
}

*::-webkit-scrollbar-track:active {
    background-color: #3c415c;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #b4a5a5;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #d3c1c1;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #b4a5a5;
}

.screamer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    display: none;

    border-style: none;
}